.phase-7,
.phase-8 {
  align-items: flex-start;
  background-color: var(--fiord);
  border-radius: 30px;
  display: flex;
  height: 52px;
  justify-content: flex-end;
  margin-right: 2.0px;
  margin-top: 38px;
  min-width: 290px;
  padding: 1px 14px;
  z-index: 6;
}

.overlap-group3,
.overlap-group3-1 {
  height: 46px;
  position: relative;
  width: 241px;
}

.phase-a-3,
.phase-a-4 {
  height: 46px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 221px;
}

.icbaseline-access-time-filled-6,
.icbaseline-access-time-filled-7 {
  height: 26px;
  left: 215px;
  position: absolute;
  top: 12px;
  width: 26px;
}

