.group-33,
.group-33-1,
.group-33-2,
.group-33-3,
.group-33-4 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.0px;
  margin-top: 41px;
  min-width: 299px;
  z-index: 6;
}

.overlap-group-5,
.overlap-group-6,
.overlap-group-7,
.overlap-group-8,
.overlap-group-9 {
  height: 52px;
  position: relative;
  width: 297px;
}

.x4-lavant-du-robot,
.x4-lavant-du-robot-1,
.x4-lavant-du-robot-2,
.x4-lavant-du-robot-3,
.x4-lavant-du-robot-4 {
  height: 52px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 254px;
}

.component-14,
.component-14-1,
.component-14-2,
.component-14-3,
.component-14-4 {
  height: 43px;
  left: 240px;
  position: absolute;
  top: 7px;
  width: 57px;
}

