.group-38-7 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  margin-right: -244px;
  margin-top: 32px;
  min-width: 573px;
  z-index: 7;
}

.group-container-5 {
  height: 99px;
  position: relative;
  width: 588px;
}

.group-36-5 {
  align-items: flex-end;
  background-color: var(--baby-powder);
  display: flex;
  height: 99px;
  left: 0;
  min-width: 573px;
  padding: 0 104.9px;
  position: absolute;
  top: 0;
}

.overlap-group-16 {
  height: 99px;
  margin-bottom: 0;
  position: relative;
  width: 346px;
}

.group-34-5 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 292px;
}

.line-1-5 {
  height: 2px;
  left: 19px;
  position: absolute;
  top: 48px;
  width: 327px;
}

