.component-19 {
  align-items: flex-start;
  display: flex;
  margin-right: 2.0px;
  margin-top: 33px;
  min-width: 290px;
  z-index: 5;
}

.overlap-group-1 {
  border-radius: 30px;
  height: 52px;
  position: relative;
  width: 290px;
}

.icbaseline-access-time-filled-1 {
  height: 26px;
  left: 241px;
  position: absolute;
  top: 13px;
  width: 26px;
}

.component-19.component-20 {
  z-index: 6;
}

.component-19.component-21 {
  z-index: 7;
}

.component-19.component-22 {
  z-index: 8;
}

.component-19.component-23 {
  z-index: 9;
}

.component-19.component-24 {
  z-index: 10;
}

.component-19.component-25 {
  z-index: 11;
}

.component-19.component-26 {
  z-index: 12;
}

.component-19.component-27 {
  z-index: 13;
}

.component-19.component-19-1 {
  cursor: pointer;
}

.component-19.component-20-1 {
  cursor: pointer;
  z-index: 6;
}

.component-19.component-21-1 {
  cursor: pointer;
  z-index: 7;
}

.component-19.component-22-1 {
  cursor: pointer;
  z-index: 8;
}

.component-19.component-23-1 {
  cursor: pointer;
  z-index: 9;
}

.component-19.component-24-1 {
  cursor: pointer;
  z-index: 10;
}

.component-19.component-25-1 {
  cursor: pointer;
  z-index: 11;
}

.component-19.component-26-1 {
  cursor: pointer;
  z-index: 12;
}

.component-19.component-27-1 {
  cursor: pointer;
  z-index: 13;
}

