.group-32 {
  align-items: center;
  display: flex;
  margin-top: 41px;
  min-width: 300px;
  z-index: 5;
}

.x3-le-robot-se-trouv {
  height: 63px;
  letter-spacing: 0;
  width: 234px;
}

.component-13 {
  height: 43px;
  margin-bottom: 4.0px;
  margin-left: 7px;
  width: 57px;
}

.group-32.group-32-3,
.group-32.group-32-4 {
  align-items: unset;
  min-width: unset;
  width: 300px;
}

.group-32.group-32-3 .component-13,
.group-32.group-32-4 .component-13 {
  margin-bottom: unset;
  margin-top: 8px;
}

