.connexion-1 {
  align-items: center;
  background-color: var(--baby-powder);
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 17px 44px;
  width: 358px;
}

.se-connecter-1 {
  height: 56px;
  left: 60px;
  letter-spacing: 0;
  position: fixed;
  text-align: center;
  top: 106px;
  width: 254px;
  z-index: 7;
}

.identifiant-1 {
  height: 27px;
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 226px;
  min-width: 93px;
  text-align: center;
  z-index: 5;
}

.group-25-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 28.0px;
  margin-top: 12px;
  min-width: 204px;
  z-index: 3;
}

.overlap-group1-3 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 43px;
  min-width: 202px;
  padding: 8px 14px;
}

.ex-arbitre-1 {
  height: 25px;
  letter-spacing: 0;
  text-align: center;
  width: 173px;
}

.mot-de-passe-1 {
  height: 27px;
  letter-spacing: 0;
  margin-top: 10px;
  min-width: 122px;
  text-align: center;
  z-index: 6;
}

.group-26-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 28.0px;
  margin-top: 12px;
  min-width: 204px;
  z-index: 4;
}

.overlap-group2-7 {
  align-items: flex-end;
  border-radius: 30px;
  display: flex;
  height: 43px;
  min-width: 202px;
  padding: 8px 28px;
}

.text-1 {
  letter-spacing: 0;
  min-height: 25px;
  text-align: center;
  width: 134px;
}

.group-27 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 28.0px;
  margin-top: 14px;
  min-width: 204px;
  z-index: 1;
}

.overlap-group-17 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 43px;
  min-width: 202px;
  padding: 8px 18px;
}

.connexion-2 {
  height: 23px;
  letter-spacing: 0;
  text-align: center;
  width: 163px;
}

.mot-de-passe-oubli-1 {
  height: 14px;
  letter-spacing: 0;
  margin-left: 12.0px;
  margin-top: 13px;
  text-align: center;
  text-decoration: underline;
  width: 150px;
  z-index: 2;
}

.group-23 {
  height: 38px;
  left: 60px;
  position: fixed;
  top: 745px;
  width: 238px;
  z-index: 8;
}

